In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Fish.csv')
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [2]:
import matplotlib.pyplot as plt
df.hist(bins =30 , figsize=(20,15))
%matplotlib inline
plt.show()

In [3]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
columns_to_one_hot = ['Species']
df[enc.get_feature_names_out()] = enc.fit_transform(df.loc[:,columns_to_one_hot])
df.drop(columns_to_one_hot, axis=1, inplace=True)

E:\programing\anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [4]:
x = pd.DataFrame(df.iloc[:,:-1])
y =pd.DataFrame(df.iloc[:,-1])

Independance variable

In [5]:
x

,Weight,Length1,Length2,Length3,Height,Width,Species_Bream,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt
0,242.0,23.2,25.4,30.0,11.5200,4.0200,1.0,0.0,0.0,0.0,0.0,0.0
1,290.0,24.0,26.3,31.2,12.4800,4.3056,1.0,0.0,0.0,0.0,0.0,0.0
2,340.0,23.9,26.5,31.1,12.3778,4.6961,1.0,0.0,0.0,0.0,0.0,0.0
3,363.0,26.3,29.0,33.5,12.7300,4.4555,1.0,0.0,0.0,0.0,0.0,0.0
4,430.0,26.5,29.0,34.0,12.4440,5.1340,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
154,12.2,11.5,12.2,13.4,2.0904,1.3936,0.0,0.0,0.0,0.0,0.0,1.0
155,13.4,11.7,12.4,13.5,2.4300,1.2690,0.0,0.0,0.0,0.0,0.0,1.0
156,12.2,12.1,13.0,13.8,2.2770,1.2558,0.0,0.0,0.0,0.0,0.0,1.0
157,19.7,13.2,14.3,15.2,2.8728,2.0672,0.0,0.0,0.0,0.0,0.0,1.0
158,19.9,13.8,15.0,16.2,2.9322,1.8792,0.0,0.0,0.0,0.0,0.0,1.0

Dependence Variable

In [6]:
y

     Species_Whitefish
0                  0.0
1                  0.0
2                  0.0
3                  0.0
4                  0.0
..                 ...
154                0.0
155                0.0
156                0.0
157                0.0
158                0.0

[159 rows x 1 columns]

We are going to split our data

In [7]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size =0.2 ,random_state=43)

we want to have a look at data

In [8]:
print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

(127, 12)
(32, 12)
(127, 1)
(32, 1)

In [9]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train , y_train)

LinearRegression()

We have to look on the co-efficient between the Attributes we had

In [10]:
v = pd.DataFrame(reg.coef_,index=['Co-efficient']).transpose()
w = pd.DataFrame(x.columns, columns = ['Attributes'])

In [11]:
coff_df = pd.concat([w,v] ,axis =1 ,join = 'inner')
coff_df

        Attributes  Co-efficient
0           Weight -7.446477e-19
1          Length1 -7.414082e-17
2          Length2  2.087757e-16
3          Length3 -1.403076e-16
4           Height -9.222133e-17
5            Width -4.726007e-17
6    Species_Bream -1.000000e+00
7   Species_Parkki -1.000000e+00
8    Species_Perch -1.000000e+00
9     Species_Pike -1.000000e+00
10   Species_Roach -1.000000e+00
11   Species_Smelt -1.000000e+00

We have to compare prediction and test

In [12]:
y_pred = reg.predict(x_test)
y_pred = pd.DataFrame(y_pred , columns = ['Predicted'])
y_pred

       Predicted
0   6.661338e-16
1   4.440892e-16
2   6.661338e-16
3   0.000000e+00
4   8.881784e-16
5   6.661338e-16
6  -6.661338e-16
7   1.110223e-15
8  -6.661338e-16
9   1.110223e-15
10 -4.440892e-16
11 -8.881784e-16
12  6.661338e-16
13  8.881784e-16
14  4.440892e-16
15  0.000000e+00
16 -4.440892e-16
17 -4.440892e-16
18 -6.661338e-16
19 -4.440892e-16
20  8.881784e-16
21  0.000000e+00
22  8.881784e-16
23 -6.661338e-16
24  8.881784e-16
25  2.220446e-16
26 -2.220446e-16
27 -1.332268e-15
28  1.221245e-15
29 -4.440892e-16
30  6.661338e-16
31  4.440892e-16

In [13]:
y_test

     Species_Whitefish
86                 0.0
103                0.0
146                0.0
0                  0.0
79                 0.0
67                 0.0
124                0.0
76                 0.0
19                 0.0
37                 0.0
10                 0.0
121                0.0
98                 0.0
81                 0.0
105                0.0
2                  0.0
11                 0.0
115                0.0
15                 0.0
12                 0.0
80                 0.0
109                0.0
77                 0.0
118                0.0
39                 0.0
128                0.0
1                  0.0
30                 0.0
62                 0.0
113                0.0
50                 0.0
106                0.0

In [14]:
from sklearn import metrics
print ('mean absolute error' , metrics.mean_absolute_error(y_test,y_pred))
print ('mean squared error' , metrics.mean_squared_error(y_test,y_pred))
print ('root mean squared error',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

mean absolute error 6.279698983036042e-16
mean squared error 5.0420845944057835e-31
root mean squared error 7.100763757798019e-16